<table class="table1 table text-center table-bordered shadow-lg rounded-top">
  <thead>
    <tr >
      <th scope="col" class="p-0 pt-2">Ticket</th>
      <th scope="col" class="p-0">Description</th>
      <th scope="col" class="p-0">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="p-0">
      <td class="p-0">Admin Page</td>
      <td class="p-0">Validate the admin page</td>
      <td class="p-0">In progress</td>
    </tr>
    <tr>
      <td class="p-0">Login Page</td>
      <td class="p-0">Add icons in login page</td>
      <td class="p-0">Todo</td>
    </tr>
    <tr>
      <td class="p-0">Responsive Page</td>
      <td class="p-0">Design a website that is responsive</td>
      <td class="p-0">Completed</td>
    </tr>
    <tr>
      <td class="p-0">Table Creation</td>
      <td class="p-0">Create a table using Bootstrap</td>
      <td class="p-0">Completed</td>
    </tr>
    <tr>
      <td class="p-0">Angular Dashboard</td>
      <td class="p-0">Design a dashboard using Angular materials</td>
      <td class="p-0">Todo</td>
    </tr>
  </tbody>
</table>
