<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group border border-dashed p-5 mt-5">
    <p class="pt-3 text-center h3">Welcome to the Admin Portal</p>
    
    <div class="rounded pic mx-auto">
      <img src="https://t4.ftcdn.net/jpg/04/75/00/99/360_F_475009987_zwsk4c77x3cTpcI3W1C1LU4pOSyPKaqi.jpg" alt="profile" class="img-fluid">
    </div>
  
    
    <div>
      <h3 class="text-center">ADMIN PORTAL</h3>
    </div>
  
    <input formControlName="email" type="email" placeholder="Email" class="form-control mb-3">
    <div *ngIf="email?.invalid && email?.touched" class="text-danger">
      <small *ngIf="email?.errors?.['required']">Email is required.</small>
      <small *ngIf="email?.errors?.['email']">Please enter a valid email.</small>
    </div>
 
    <input formControlName="password" type="password" placeholder="Password" class="mb-2 form-control">
    <div *ngIf="password?.invalid && password?.touched" class="text-danger">
      <small *ngIf="password?.errors?.['required']">Password is required.</small>
      <small *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</small>
    </div>
  
  
    <small id="right" class="d-block text-right">Forget Password?</small>
  
    
    <div>
      <button type="submit" class="mb-3 mt-2 form-control bg-secondary text-white" [disabled]="form.invalid">Login</button>
    </div>
  
    
    <button type="button" class="form-control btn-link text-center">Don't have an account? Sign up here.</button>
  </form>
  