<table class="table2 table table-bordered text-center  shadow-lg rounded ">
    <thead>
      <tr>
        
        <th scope="col">Ticket</th>
        <th scope="col">Estimated Time</th>
        <th scope="col">Time Spent</th>
      </tr>
    </thead>


    <tbody>
      <tr>
        <td>Admin Page</td>
        <td>45 mins</td>
        <td>30 mins</td>
      </tr>

      <tr>
        
        <td>login page</td>
        <td>30 mins </td>
        <td>20 mins</td>
      </tr>

      <tr>
        
        <td>Responsive page</td>
        <td>3 hours</td>
        <td>3hrs 20 mins</td>
      </tr>

      <tr>
        
        <td>Table Creation</td>
        <td>15 mins </td>
        <td>10 mins</td>
      </tr>

      <tr>
        
        <td>Angular Dashboard</td>
        <td>7 hours</td>
        <td>6hrs 15 mins</td>
      </tr>

     
    </tbody>
  </table>
